<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@531&display=swap" rel="stylesheet">
    <link href="~/css/doctorUiStyle.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hospital</title>
</head>
<body>
    <main>
        <header class="block">Заголовок</header>
        <nav class="block">
            <div class="menu-buttons">
                <hr />
                <button id="nav-main-button">Главная</button>
                <button>Очередь на приём</button>
                <button disabled>Перенаправленный пациент</button>
                <button id="nav-patientsList-button">Список моих пациентов</button>
                <button id="nav-createPatient-button">Создать карту нового пациента</button>
                <hr />
            </div>
        </nav>
        <article class="block" id="article-main-block">
            <div class="block-row">
                <div class="dateTime-block">
                    <p id="currentDate"></p>
                    <p id="currentTime"></p>
                </div>
            </div>
            <div class="block-row">
                <h2>Кабинет [направление специалиста]</h2>
            </div>
            <hr />
            <div class="block-row">
                <h3>Врач: [Фамилия Имя Отчество]</h3>
                <h3>Медсестра: [Фамилия Имя Отчество]</h3>
            </div>
            <hr />
            <p>На сегодня к Вам сформирована очередь пациентов по талонам. Талонов выдано: [число талонов]</p>
        </article>
        <article class="block" id="article-patientsList-block">
            <h1>Список пациентов</h1>
            <div class="table-container">
                <div class="block-row">
                    <table>
                        <thead>
                            <tr>
                                <th class="table-name">Фамилия</th>
                                <th class="table-name">Имя</th>
                                <th class="table-name">Отчество</th>
                                <th class="table-name">Дата рождения</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-patientsList"></tbody>
                    </table>
                </div>
                <div id="table-paginator" class="block-row">
                    <img src="~/images/arrow_right.png" id="patientList-back" />
                    <p class="table-paginator-pages">Страница:</p>
                    <img src="~/images/arrow_right.png" id="patientList-forward" />
                </div>
            </div>
        </article>
        <article class="block" id="article-createPatient-block">
            <div class="form-container">
                <h2>Данные пациента</h2>
                <hr />
                <div class="block-row">
                    <fieldset class="fieldset-width-45">
                        <legend>Ф.И.О.</legend>
                        <input type="text" class="inp-width-75" id="newPatientFirstName" placeholder="Имя" autofocus="autofocus" />
                        <input type="text" class="inp-width-75" id="newPatientLastName" placeholder="Фамилия" />
                        <input type="text" class="inp-width-75" id="newPatientMiddleName" placeholder="Отчество" />
                    </fieldset>
                    <div class="block-column">
                        <fieldset>
                            <legend>Дата рождения</legend>
                            <input type="date" id="newPatientBirthday" />
                        </fieldset>
                        <fieldset>
                            <legend>Полных лет</legend>
                            <p id="currentAge">--</p>
                        </fieldset>
                    </div>
                    <fieldset class="fieldset-block">
                        <legend>Пол</legend>
                        <p class="patient-sex" id="newPatientMale" title="Установить мужской пол">M</p>
                        <p class="patient-sex" id="newPatientFemale" title="Установить женский пол">Ж</p>
                    </fieldset>
                    <fieldset class="fieldset-block">
                        <legend>Телефон</legend>
                        <label>Основной</label>
                        <input type="text" id="newPatientPhoneBase" placeholder="8-xxx-xxx-xx-xx" />
                        <label>Дополнительный</label>
                        <input type="text" id="newPatientPhoneAdd" placeholder="8-xxx-xxx-xx-xx" readonly />
                    </fieldset>
                </div>
                <div class="block-row">
                    <fieldset class="fieldset-width-60">
                        <legend>Адрес</legend>
                        <input type="text" class="inp-width-75" id="newPatientAddressOfficial" placeholder="Адрес регистрации" />
                        <br />
                        <input type="text" class="inp-width-75" id="newPatientAddressCurrent" placeholder="Адрес фактический" />
                        <br />
                        <pre><span id="newPatientCity" title="Проживает в городе">Город</span>|<span id="newPatientRegion" title="Проживает в области">Область</span></pre>
                    </fieldset>
                    <fieldset class="fieldset-width-40">
                        <legend>Сведения о месте работы</legend>
                        <textarea class="textarea-width-85" id="newPatientWork"></textarea>
                    </fieldset>
                </div>
                <div class="block-row">
                    <fieldset class="fieldset-width-50">
                        <legend>Полис</legend>
                        <input type="text" class="inp-width-75" id="newPatientInsurancePolicy" placeholder="Серия и номер: xx xx xxxxxxx" />
                    </fieldset>
                    <fieldset class="fieldset-width-50">
                        <legend>СНИЛС</legend>
                        <input type="text" class="inp-width-75" id="newPatientRetirementInsurance" placeholder="xxx-xxx-xxx xx" />
                    </fieldset>
                </div>
                <button id="createNewPatientButton">Создать</button>
                <p id="currentMessage">&nbsp;</p>
            </div>
        </article>
        <aside class="block">Экран событий</aside>
        <footer class="block">code.drummer87@gmail.com</footer>
        <div class="nap"></div>
        <div id="pop-up-patientInfo">
            <p id="info-names">Пациент: </p>
            <p id="info-birthday">Дата рождения: </p>
            <p id="info-phone">Телефон: </p>
            <p id="info-address">Адрес проживания: </p>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/js/navigation.js"></script>
    <script defer src="~/js/creatingPatient.js"></script>
    <script defer src="~/js/dataValidation.js"></script>
</body>
</html>