<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hospital</title>
    <link href="~/css/doctorUiStyle.css" rel="stylesheet" />
</head>
<body>
    <main>
        <header class="block">Заголовок</header>
        <nav class="block">Здесь будет список доступных действий</nav>
        <article class="block">
            <fieldset>
                <legend>Данные пациента</legend>
                <fieldset>
                    <legend>Ф.И.О.</legend>
                    <input type="text" id="newPatientFirstName" placeholder="Имя" autofocus="autofocus" />
                    <br />
                    <input type="text" id="newPatientLastName" placeholder="Фамилия" />
                    <br />
                    <input type="text" id="newPatientMiddleName" placeholder="Отчество" />
                    <br />
                </fieldset>
                <fieldset>
                    <legend>Пол</legend>
                    <label>Муж.<input type="radio" name="patientSex" value="male" checked="checked" /></label>
                    <label>Жен.<input type="radio" name="patientSex" value="female" /></label>
                </fieldset>
                <fieldset>
                    <legend>Дата рождения</legend>
                    <input type="date" id="newPatientBirthday" />
                </fieldset>
                <fieldset>
                    <legend>Адрес</legend>
                    <input type="text" id="newPatientAddressCurrent" placeholder="Адрес фактический" />
                    <br />
                    <input type="text" id="newPatientAddressOfficial" placeholder="Адрес регистрации" />
                    <br />
                    <p>Местность</p>
                    <input type="text" id="newPatientState" placeholder="Городская / Область" />
                </fieldset>
                <input type="text" id="newPatientPhone" placeholder="Телефон" />
                <fieldset>
                    <legend>Сведения о месте работы</legend>
                    <input type="text" id="newPatientWork" placeholder="Место работы / Безработный" />
                </fieldset>
                <fieldset>
                    <legend>Полис</legend>
                    <input type="text" id="newPatientInsurancePolicy" placeholder="Серия и номер"/>
                </fieldset>
                <fieldset>
                    <legend>СНИЛС</legend>
                    <input type="text" id="newPatientRetirementInsurance" placeholder="xxx-xxx-xxx xx" />
                </fieldset>
                <button id="createNewPatientButton">Создать</button>
            </fieldset>
        </article>
        <aside class="block">Экран событий</aside>
        <footer class="block">Подвал</footer>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/creatingPatient.js"></script>
</body>
</html>