<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@531&display=swap" rel="stylesheet">
    <link href="~/css/doctorUiStyle.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hospital</title>
</head>
<body>
    <main>
        <header class="block">Заголовок</header>
        <nav class="block">Здесь будет список доступных действий</nav>
        <article class="block">
            <div class="form-container">
                <h2>Данные пациента</h2>
                <hr />
                <div class="block-row">
                    <fieldset class="fieldset-width-45">
                        <legend>Ф.И.О.</legend>
                        <input type="text" class="inp-width-75" id="newPatientFirstName" placeholder="Имя" autofocus="autofocus" />
                        <input type="text" class="inp-width-75" id="newPatientLastName" placeholder="Фамилия" />
                        <input type="text" class="inp-width-75" id="newPatientMiddleName" placeholder="Отчество" />
                    </fieldset>
                    <div class="block-column">
                        <fieldset>
                            <legend>Дата рождения</legend>
                            <input type="date" id="newPatientBirthday" />
                        </fieldset>
                        <fieldset>
                            <legend>Полных лет</legend>
                            <p id="currentAge">--</p>
                        </fieldset>
                    </div>
                    <fieldset class="fieldset-block">
                        <legend>Пол</legend>
                        <p class="patient-sex" id="newPatientMale" title="Установить мужской пол">M</p>
                        <p class="patient-sex" id="newPatientFemale" title="Установить женский пол">Ж</p>
                    </fieldset>
                    <fieldset class="fieldset-block">
                        <legend>Телефон</legend>
                        <label>Основной</label>
                        <input type="text" id="newPatientPhoneBase" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" placeholder="8-xxx-xxx-xx-xx" />
                        <label>Дополнительный</label>
                        <input type="text" id="newPatientPhoneAdd" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" placeholder="8-xxx-xxx-xx-xx" readonly />
                    </fieldset>
                </div>
                <div class="block-row">
                    <fieldset class="fieldset-width-60">
                        <legend>Адрес</legend>
                        <input type="text" class="inp-width-75" id="newPatientAddressOfficial" placeholder="Адрес регистрации" />
                        <br />
                        <input type="text" class="inp-width-75" id="newPatientAddressCurrent" placeholder="Адрес фактический" />
                        <br />
                        <pre><span id="newPatientCity" title="Горожанин">Город</span>|<span id="newPatientRegion" title="Житель области">Область</span></pre>
                    </fieldset>
                    <fieldset class="fieldset-width-40">
                        <legend>Сведения о месте работы</legend>
                        <textarea class="textarea-width-85" id="newPatientWork"></textarea>
                    </fieldset>
                </div>
                <div class="block-row">
                    <fieldset class="fieldset-width-50">
                        <legend>Полис</legend>
                        <input type="text" class="inp-width-75" id="newPatientInsurancePolicy" placeholder="Серия и номер" />
                    </fieldset>
                    <fieldset class="fieldset-width-50">
                        <legend>СНИЛС</legend>
                        <input type="text" class="inp-width-75" id="newPatientRetirementInsurance" placeholder="xxx-xxx-xxx xx" />
                    </fieldset>
                </div>
                <button id="createNewPatientButton">Создать</button>
            </div>
        </article>
        <aside class="block">Экран событий</aside>
        <footer class="block">Подвал</footer>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/creatingPatient.js"></script>
</body>
</html>